.section-blog,
.section-partners {
	.line-vertical {
		@include media-breakpoint-up(md) {
			top: -2.5rem;
			position: absolute;
			left: -6px;
			transform: scaleY(0);
			background: $gray2;
			width: 1px;
			bottom: -6.25rem;
			transform-origin: top center;
	    transition: transform 1s ease-in-out;

			&.is-inview {
				transform: scaleY(1);
			}
		}
	}
}

.section-partners {
	.line-vertical {
		left: 1.25rem;
	}
}