.section-columns {
	padding: 2.875rem 0;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		overflow: visible;
	}
	
	&-img {
		padding: 1rem;
		position: relative;

		@include media-breakpoint-up(md) {
			transform: translateY(5rem);
			max-height: 1px;
		}

		@include media-breakpoint-up(xl) {
			transform: translateY(50%);
		}

		// &-circle {
		// 	position: absolute;
		// 	top: -.34rem;
		// 	right: -.34rem;
		// 	bottom: -.34rem;
		// 	left: -.34rem;
		// 	border-radius: 50%;
		// 	z-index: 2;
		// 	background-image: url('../img/icons/circle.svg');
		// 	background-size: 2.68rem;
		// 	background-position: right;
		// 	background-repeat: no-repeat;
		// 	transform-origin: center center;
		// 	animation: rotationL 10s linear infinite;
		// }

		.ratio {
			overflow: hidden;
			max-width: 33rem;
			margin: 1rem auto 0;
			border-radius: 50%;
		}
	}

	img {
		margin: 0 auto;
	}
}