.section-icons {
	overflow: hidden;

	@include media-breakpoint-up(md) {
		overflow: visible;
	}

	&-icon {
		width: 100%;
		max-width: 7.93rem;
		margin: 0 auto 3.75rem;
		border-radius: 50%;
		//border: 1px solid $navy;
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-bottom: 100%;
		}

		&.is-inview {
			svg circle {
				stroke-dashoffset: 0;
				transform: rotate(0);
			}
		}

		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);


			circle {
				stroke-dashoffset: 144;
				stroke-dasharray: 144px;
				transform-origin: 50% 50%;
				transform: rotate(-45deg);
				transition: stroke-dashoffset 1.2s,transform 1.2s;
			}
		}

		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	top: -1.375rem;
		// 	left: -1.375rem;
		// 	bottom: -1.375rem;
		// 	border-radius: 50%;
		// 	right: -1.375rem;
		// 	z-index: 2;
		// 	background-image: url('../img/icons/circle-signet.svg');
		// 	background-size: 2.75rem;
		// 	background-position: right;
		// 	background-repeat: no-repeat;
		// 	transform-origin: center center;
		// 	animation: rotationL 10s linear infinite;
		// }

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 3rem;
			transform: translate(-50%, -50%);
		}
	}

	&-item {
		&:first-of-type .section-icons-icon {
			svg circle {
				transition-delay: .1s;
			}

			&:after {
				animation-delay: .5s;
			}
		}

		&:nth-of-type(2) .section-icons-icon {
			svg circle {
				transition-delay: .2s;
			}

			&:after {
				animation-delay: 1s;
			}
		}

		&:nth-of-type(3) .section-icons-icon {
			svg circle {
				transition-delay: .3s;
			}

			&:after {
				animation-delay: 2s;
			}
		}
	}
}