.slider-img {
	overflow: visible;

	.swiper-slide {
		width: 58.33333%;
		opacity: .7;
		transition: opacity .5s cubic-bezier(0.4, 0, 0.1, 1);

		&-active,
		&:hover {
			opacity: 1;
		}

		figcaption {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 1rem;
			color: $white;
			background: linear-gradient(0deg,#000,transparent);

			@include media-breakpoint-up(md) {
				padding: 2rem;
			}
		}
	}
}