.section-more {
	.link-horizontal {
		margin-bottom: 4.375rem;

		.hover-line {
			min-width: calc(100% - 1.25rem);

			@include media-breakpoint-up(md) {
				min-width: calc(70% - 1.25rem);
			}

			@include media-breakpoint-up(lg) {
				min-width: 40%;
			}
		}
	}

	h2 {
		font-size: 1.6rem;
		
	  @include media-breakpoint-up(md) {
	    font-size: 2.25rem;
	  	max-width: 13.75rem;
	  }
	}
	
	.d-flex.pb-150 {
		@include media-breakpoint-down(lg) {
			padding-bottom: 0 !important;
		}
	}
}

.slider-more {
	.swiper-slide {
		width: 80%;
		background-color: $gray;

		@include media-breakpoint-up(sm) {
			width: 45%;
		}

		@include media-breakpoint-up(md) {
			width: 70%;
		}

		@include media-breakpoint-up(lg) {
			width: 40%;
		}


		svg {
			transition: transform .3s ease-in-out;
		}

		a:hover {
			svg {
				transform: translateX(1rem);
			}
		}

		&-top,
		&-bottom {
			display: block;
			height: 12rem;

			@include media-breakpoint-up(xl) {
				height: 13.75rem;
			}
		}

		&-top {
			font-size: 1.625rem;
			line-height: 1.4;
			padding: 1.25rem 1.75rem;
		}

		&-bottom {
			img {
				height: 100%;
			}
		}
	}
}