.section-nav {
	height: 3.5rem;
	font-size: 1.25rem;
	font-size: 1rem;
	padding-bottom: 1px;

	@include media-breakpoint-up(sm) {
		height: 5rem;
		font-size: 1.25rem;
	}

	@include media-breakpoint-down(md) {
		width: 100vw;
	}

	.swiper-container {
		overflow: visible;
	}

	li {
		width: auto !important;
		height: 100%;
		position: relative;
		display: inline-flex;
		align-items: center;
	}

	a {
		opacity: .5;
		white-space: nowrap;
		padding: 1rem 0;

		&.is-active {
			opacity: 1;

			&:after {
				transform: scaleX(1);
			}
		}

		@include media-breakpoint-up(sm) {
			&:hover {
				opacity: 1;

				&:after {
					transform: scaleX(1);
				}
			}			
		}


		&:after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			background: $navy;
			height: 1px;
			bottom: -1px;
			transform: scaleX(0);
			transform-origin: left center;
			transition: transform .3s cubic-bezier(.215,.61,.355,1);
		}
	}
}