.single {
	.section-newses {
		h2 {	
			font-size: 1.6rem;
			
		  @include media-breakpoint-up(md) {
		    font-size: 2.25rem;
		  }

		  @include media-breakpoint-up(md) {
		    font-size: 2.25rem;
		  }
		}
	}
}