// .section-spacing + .section-more .line-decorative {
// 	display: none;
// }

.section-numbered {

	& + .section-more .line-decorative {
		display: none;
	}

	.slider-text {
		overflow: visible;
	}

	.swiper-slide {
		width: 85%;
		opacity: 0;
		transform: translateY(3rem);
		transition: transform .5s cubic-bezier(0.4, 0, 0.1, 1), opacity .5s cubic-bezier(0.4, 0, 0.1, 1);

		@include media-breakpoint-up(sm) {
			width: 60%;
		}

		@include media-breakpoint-up(lg) {
			width: 45%;
		}

		@include media-breakpoint-up(xl) {
			width: 21.5rem;
		}

		&-active {
			opacity: 1 !important;
		  transform: translateY(0);

		  .swiper-slide-plus:after {
			  transform-origin: left right;
		  	transform: translateY(-50%) scaleX(1);
		  }
		}

		&-visible {
			opacity: 0.5;
		  transform: translateY(0);
		}
	}

	.swiper-slide-num {
		font-size: 6.5rem;
		display: inline-block;

		@include media-breakpoint-up(md) {
			transform: translateX(-50%);
		}
	}

	.swiper-slide-plus {
		font-size: 4.875rem;
		position: relative;

		&:after {
			content: '';
			height: 1px;
			margin-top: -4px;
			opacity: .2;
			background: $blue;
			position: absolute;
			left: 2.75rem;
			top: 50%;
			width: calc(100% - 2.75rem);
			transform: translateY(-50%) scaleX(0);
			transform-origin: left center;
			will-change: transform;
			transition: transform .5s cubic-bezier(0.4, 0, 0.1, 1);
		}
	}
}