.section-quote {
	padding: 4.6875rem 0;

	blockquote {
		p:not(.author):not(.mark) {
			font-size: 1.85rem;
			line-height: 1;

			@include media-breakpoint-up(md) {
				font-size: 2.3125rem;
			}
		}

		.mark {
			font-size: 6.25rem;
			line-height: .9;
		}

		.author {
			margin-top: 3rem;
			font-size: 1.1rem;
			text-transform: uppercase;

			@include media-breakpoint-up(md) {
				font-size: 1.375rem;
			}
		}
	}
}