.section-circles {
	.slider-circles-container {
		@include media-breakpoint-up(xl) {
			padding-left: 16.66667%;
		}
	}

	h2 {
		font-size: 1.6rem;

	  @include media-breakpoint-up(md) {
			font-size: 2.25rem;
	  }
	}

	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		width: 100% !important;
		opacity: 0 !important;
		transition: opacity .5s ease-in-out;

		@include media-breakpoint-up(lg) {
			width: 90% !important;
		}

		@include media-breakpoint-up(xl) {
			width: 70% !important;
		}

		&-active {
			opacity: 1 !important;

			svg circle {
				transform: rotate(0deg);
				stroke-dashoffset: 0;
			}

			.swiper-slide-text {
				.ratio:after {
					opacity: 1;
				}
			}
		}

		&-img {
			padding: 1rem;
			position: relative;

			@include media-breakpoint-up(md) {
				transform: translateY(5rem);
			}

			@include media-breakpoint-up(xl) {
				transform: translateY(8.125rem);
			}

			// &-circle {
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	border-radius: 50%;
			// 	right: 0;
			// 	z-index: 2;
			// 	background-image: url('../img/icons/circle.svg');
			// 	background-size: 2rem;
			// 	background-position: right;
			// 	background-repeat: no-repeat;
			// 	transform-origin: center center;
			// 	animation: rotationL 10s linear infinite;
			// }

			.ratio {
				overflow: hidden;
				border-radius: 50%;
			}
		}

		&-num {
			font-size: 5rem;
			max-height: 4.85rem;

			@include media-breakpoint-up(lg) {
				font-size: 6.5rem;
				max-height: 5.625rem;
			}
		}

		&-text {
			position: relative;

			// .ratio:after {
			// 	content: '';
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	border-radius: 50%;
			// 	right: 0;
			// 	z-index: 2;
			// 	background-image: url('../img/icons/circle-fill.svg');
			// 	background-size: 2rem;
			// 	background-position: right;
			// 	background-repeat: no-repeat;
			// 	transform-origin: center center;
			// 	transform: translate(.5rem);
			// 	opacity: 0;
			// 	animation: rotationR 10s linear infinite;
		 //    transition: opacity .5s ease-in-out;
		 //    transition-delay: .7s;
			// }

			circle {
				stroke-dashoffset: 240px;
				stroke-dasharray: 240px;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
				transition: stroke-dashoffset 1.5s, transform 1.2s;
				transition-delay: .2s;
			}
		}

		.paragraph {
			font-size: 1.125rem;
			line-height: 1.4;
			position: absolute;
			left: 50%;
			right: 0;
			top: 50%;
			margin: auto;
			transform: translate(-50%,-50%);

			@include media-breakpoint-up(sm) {
				font-size: 1.25rem;
			}

			@include media-breakpoint-up(xl) {
				font-size: 1.8125rem;
			}
		}
	}

	.img-logo {
		position: absolute;
		left: 0;
		top: calc(100% + 4.375rem);

		img {
			max-height: 4rem;

			// @include media-breakpoint-up(sm) {
			// 	max-width: 15.25rem;
			// }
		}
	}
}

@keyframes rotationL {
  0% {
      transform:rotate(0deg);
  }

  to {
      transform:rotate(1turn);
  }
}

@keyframes rotationR {
  0% {
      transform:rotate(0deg) translate(.5rem);
  }

  to {
      transform:rotate(-1turn) translate(.5rem);
  }
}