.section-text {
	padding-top: 4.75rem;
	padding-bottom: 3.25rem;


  @include media-breakpoint-up(sm) {
		padding-top: 8.75rem;
		padding-bottom: 7.25rem;

		@at-root .single & {
			padding-top: 4.375rem;
			padding-bottom: 3.4375rem;
		}
  }
}