.section-timeline {
	h2 {
		font-size: 1.6rem;

		@include media-breakpoint-up(md) {
			font-size: 2.25rem;
		}
	}

	.swiper-slide-time {
		font-size: 1.0625rem;
		margin-bottom: 1rem;

		@include media-breakpoint-up(lg) {
			margin-bottom: 4rem;
		}
	}

	.paragraph {
		margin-top: 1.25rem;

		@include media-breakpoint-up(lg) {
			margin-top: 3.25rem;
		}
	}

	.swiper-slide-title {
		font-size: 3.0625rem;
	}

	.slider-phases {
		overflow: visible;

		@include media-breakpoint-up(xl) {
			margin-left: 16.66%;
			padding-left: 41.66667%;
		}

		.swiper-slide {
			opacity: .3;
			width: 100%;
			pointer-events: none;
			transition: opacity .3s ease-in-out;

			@include media-breakpoint-up(lg) {
				width: 50%;
			  pointer-events: all;
			}

			@include media-breakpoint-up(xl) {
				//width: 50%;
			}

			&-active,
			&:hover {
				opacity: 1;
			}
		}
	}
}