.bg-white {
	background-color: $white;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-black {
	background-color: $black;

	::-moz-selection {
	  color: $black;
	  background: $white;
	}

	::selection {
	  color: $black;
	  background: $white;
	}
}

.bg-gray {
	background-color: $gray;
}

.bg-navy {
	background-color: $navy;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
