.fs-10 {
	font-size: .625rem;
}

.fs-12 {
	font-size: .75rem !important;
}

.fs-13 {
	font-size: .8125rem !important;
}

.fs-14 {
	font-size: .875rem !important;
}

.fs-16 {
	font-size: 1rem !important;
}

.fs-15 {
	font-size: .9375rem !important;
}

.fs-18 {
	font-size: 1.125rem !important;
}

.fs-20 {
	font-size: 1.25rem !important;
}

.fs-23 {
	font-size: 1.43rem !important;
}

.fs-m-16 {
  @include media-breakpoint-down(sm) {
  	font-size: 1rem !important;
  }
}

.fs-m-18 {
  @include media-breakpoint-down(sm) {
  	font-size: 1.125rem !important;
  }
}