.hover-underline {

  a,
  .more {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;

      @include media-breakpoint-up(sm) {
        top: calc(100% + 2px);
      }
    }
  }
	
  .current-menu-item a:before,
  a:hover .more:before,
  a:hover:before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}


.hover-arrow {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: .875rem;

  &:hover {
    circle {
      stroke-dashoffset: 268px;
      transform: rotate(540deg);
    }
  }

  svg {
    height: 2.625rem;
    width: 2.625rem;
    margin-right: 1.25rem;

    @include media-breakpoint-up(sm) {  
      height: 3.75rem;
      width: 3.75rem;
    }
  }

  circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 268px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    transition: stroke-dashoffset 1.2s, transform 1.2s;
  }
}

.hover-flip {
  &:hover {
    .hover-flip-inner span {
      transform: translateY(-100%);
    }
  }

  &-inner {
    display: inline-flex;
    flex-direction: column;
    height: .75rem;
    overflow: hidden;

    span {
      display: inline-block;
      flex-shrink: 0;
      transition: transform .5s cubic-bezier(0.4, 0, 0.1, 1);
    }
  }
}

.hover-zoom {
  display: block;
  overflow: hidden;

  &:hover {
    img:not(.youtube-play) {
      transform: scale(1.1) !important;
    }
  }

  img:not(.youtube-play) {
    width: 100%;
    transition: transform .5s cubic-bezier(0.4, 0, 0.1, 1);
  }
}

.hover-skew {
  position: relative;
  overflow: hidden;

  * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gray;
    width: 120%;
    left: -30%;
    transform: skew(30deg) translate3d(-100%,0,0);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  @include media-breakpoint-up(sm) {
    &:hover {
      &:before {
        transform: translate3d(10%,0,0);
      }
    }    
  }

  // &.is-active {
  //   &:before {
  //     transform: translate3d(10%,0,0);
  //   }
  // }
}


.hover-line {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  line-height: 1;
  color: $blue;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-bottom: 1px solid currentColor;
  transition: padding .3s cubic-bezier(.215,.61,.355,1), color .3s cubic-bezier(.215,.61,.355,1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $blue;
    z-index: -1;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
  }

  svg {
    margin-left: .625rem;
  }

  path {
    transition: stroke .3s cubic-bezier(.215,.61,.355,1);
  }

  &:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    color: $white;

    path {
      stroke: $white;
    }
    
    &:before {
      transform: scaleY(1);
    }
  }


  &-light {
    color: $navy;
    font-size: 1.375rem;
    text-transform: none;
    border-bottom: 1px solid $gray2;
    min-height: 5rem;

    &:before {
      //background-color: $gray2 !important;
    }

    &:hover {
      color: $white;
      border-color: $blue;
    }
  }
}

.hover-blue {
  &:hover {
    color: $blue;
  }
}