.pt-100 {
	padding-top: 3.25rem;

	@include media-breakpoint-up(sm) {
		padding-top: 6.25rem;
	}
}

.pb-100 {
	padding-bottom: 3.25rem;

	@include media-breakpoint-up(sm) {
		padding-bottom: 6.25rem;
	}

	@media screen and (min-width: 767px) and (max-height: 768px) {
		padding-bottom: 4.25rem !important;
	}
}

.pb-150 {
	padding-bottom: 3.25rem;

	@include media-breakpoint-up(sm) {
		padding-bottom: 6.25rem;
	}

	@include media-breakpoint-up(md) {
		padding-bottom: 9.375rem;
	}
}

.mt-100 {
	margin-top: 3.25rem;

	@include media-breakpoint-up(sm) {
		margin-top: 6.25rem;
	}
}

.mb-100 {
	margin-bottom: 3.25rem;

	@include media-breakpoint-up(sm) {
		margin-bottom: 6.25rem;
	}
}