.section-hero {
	height: 70vh;
	min-height: 14rem;
	max-height: stretch;
	position: relative;
	overflow: hidden;
	margin-top: -2px;

	@include media-breakpoint-up(sm) {
		height: 90vh;
		min-height: 25rem;
	}

	.plyr {
		height: 100%;

		video {
			object-fit: cover;
		}
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: #1d234a;
		opacity: .5;
		width: 100%;
		height: 100%;
	}

	.container-fluid {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	h1,
	.h1 {
		line-height: 1;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 2;
		left: .625rem;
		font-size: 3.5rem;
		transform: translateY(-50%);

		@include media-breakpoint-up(xl) {
			font-size: 5rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 2.3rem;
		}
	}

	.hover-arrow {
		position: absolute;
		left: .625rem;
		bottom: 2rem;
		z-index: 2;

		@media screen and (max-height: 800px) and (min-width: 1200px) {
			bottom: 2rem !important;
		}

		@include media-breakpoint-up(xl) {
			bottom: 7.5rem;
		}


		&:hover {
			circle {
				stroke-dashoffset: 268px;
				transform: rotate(540deg);
			}
		}
		svg {
			height: 3.75rem;
			width: 3.75rem;
		}

		circle {
			stroke-dashoffset: 0;
			stroke-dasharray: 268px;
			transform-origin: 50% 50%;
			transform: rotate(-45deg);
			transition: stroke-dashoffset 1.2s,transform 1.2s;
		}
	}
}

.home {
	header {
		position: fixed;
		top: 0;
		left: 0;

		@include media-breakpoint-up(md) {
			color: $white;
			border-color: rgba(255, 255, 255, .2);

			.header-contact a {
				border-color: rgba(255, 255, 255, .2);
			}

			.hover-skew:before {
				background-color: rgba(255, 255, 255, .2);
			}

			img {
				filter: brightness(0) invert(100%);
			}			
		}
	}
}