.blog-list-item,
.partner-list-item {
	@include media-breakpoint-up(md) {
		padding-bottom: 6.25rem;
	}

	&-logo img {
		max-width: 15rem;
		max-height: 4rem;
	}

	.hover-zoom {
		margin-left: -1.25rem;
		margin-right: -.625rem;

		@include media-breakpoint-up(md) {
			margin-left: 0;
		}
	}
}