footer {
	background: $gray;
	overflow: hidden;

	.logo {
		img {
			height: 2.5rem;
		}

		&-ue {
			img {
				height: 2.5rem;
			}
		}
	}

	.footer-email {
		font-size: 1.15rem;

		@include media-breakpoint-up(sm) {
			font-size: 1.5rem;
		}
	}

	.footer-follow {
		position: relative;

		&:before {
			content: '';
			background: $gray2;
			position: absolute;
			left: 0;
			top: 0;
			transform-origin: left top;
			transition: transform .5s ease-in-out;
		  transform: scale(0);
		  width: 100vw;
		  left: -.625rem;
		  height: 1px;

		  @include media-breakpoint-up(lg) {
				height: 100%;
				width: 1px;
				left: 0;
			  transition-delay: 1s;
		  }
		}
	}

	.is-inview .footer-follow:before {
		transform: scale(1);
	}

	ul:not(.socials) {
		li a {
			padding: 2px 0;
			margin-right: 1.25rem;
			margin-bottom: 1.25rem;
		}
	}

	a {
		display: inline-block;
	}
}