.hamburger {
	position: fixed;
	left: 0;
	top: 0;
	width: 3.5rem;
	height: 3.5rem;
	z-index: 999;
	outline: 0;
	border-right: 1px solid $gray2;
	border-bottom: 1px solid $gray2;
	transition: all .3s cubic-bezier(.7,0,.3,1);
	opacity: 0;

	@at-root .has-scroll-init & {
		opacity: 1;
	}

	@include media-breakpoint-down(sm) {
		border-bottom: 1px solid transparent;
		
		&:focus,
		&:hover {
			outline: 0;
		}
	}

	&.is-transparent {
		&:not(.is-active) {
			background: transparent;
			color: $white;

			&:before {
				background-color: rgba(255, 255, 255, .2);
			}
		}
	}

	@include media-breakpoint-up(sm) {
		width: 6.25rem;
		height: 5rem;
	  background: $white;

	  @at-root .nav-open & {
	  	//background: $blue;
	  }
	}

	@include media-breakpoint-up(md) {
	  border-bottom: 1px solid transparent;
	}

	&.is-animating {
		pointer-events: none;
	}

	&-inner {
	  width: 1.875rem;
	  height: 1rem;
	  display: inline-block;
	  position: relative;

	  > span {
	    width: 100%;
	    height: 1px;
	    left: 0;
	    background: currentColor;
	    position: absolute;
	    transition: top .2s cubic-bezier(.7,0,.3,1), transform .5s ease, background-color .5s cubic-bezier(.7,0,.3,1);

	    &:first-of-type {
	      top: 0;
	    }

	    &:nth-of-type(2) {
	      top: 7px;
	    }

	    &:last-of-type {
	      top: calc(100% - 2px);
	    }
	  }

	  & + span {
	  	margin-left: .875rem;
	  }
	}

	&:not(.is-active):hover {
		.hamburger-inner > span {
			&:first-of-type {
				top: 2px;
			}

			&:last-of-type {
				top: calc(100% - 4px);
			}
		}
	}


	&.is-active {
		background-color: $blue;
		color: $white;
		border-color: rgba(255, 255, 255, .2);

		&:not(.is-disabled) {
			//background-color: $blue;
		}

		&:before {
			background: rgba(241, 237, 233, 0.23);
		}

		&:hover {
			.hamburger-inner > span {
				top: 50% !important;
				//background: $gray;
			}
		}

		.hamburger-inner > span {
			top: 50%;

			&:first-of-type {
				transform: translateY(-50%) rotate(135deg);
			}

			&:nth-of-type(2) {
				transform: scaleX(0);
			}

			&:last-of-type {
				transform: translateY(-50%) rotate(-135deg);
			}
		}
	}
}
