.page-container {
	padding-top: 3.5rem;

	@at-root .home & {
		padding-top: 0;
	}

	@include media-breakpoint-up(sm) {
		padding-top: 5rem;
	}

	@include media-breakpoint-up(md) {
		padding-top: 0;
	}
}

header {
	opacity: 0;

	@at-root .has-scroll-init & {
		opacity: 1;
	}
}

header,
.nav-main-header {
	height: 3.5rem;
	padding-left: 3.5rem;
	border-bottom: 1px solid $gray2;
	position: fixed;
	z-index: 5;
	right: 0;
	left: 0;
	width: 100vw;
	top: 0;
	background: $white;
	transition: opacity .3s cubic-bezier(.7,0,.3,1);

	@include media-breakpoint-up(sm) {
		padding-left: 0;
	  height: 5rem;
	  padding-left: 6.25rem;
	}

	@include media-breakpoint-up(md) {
		padding-left: 0;
	  position: static;
	  background: transparent;
	}

	.logo-ue {
		@include media-breakpoint-up(xl) {
			min-height: 2.5rem;
		}
	}

	.header-contact {
		a {
			border-left: 1px solid $gray2;
		}
	}
	
	.logo {
		@include media-breakpoint-up(xl) {
			transform: translateX(-5.625rem);
		}
		
		img {
			@include media-breakpoint-up(xl) {
				max-width: 999px;
			}

			@include media-breakpoint-up(sm) {
				height: 2.75rem;
			}
		}
	}
}