figure {
	figcaption {
		font-size: .8125rem;
		line-height: 1.46;
		margin-top: .625rem;
	}
}

.img-fit {
	object-fit: cover;
}

[style*="--aspect-ratio"]::before {
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}


.section-img-crop {

	> div:first-of-type {
		@include media-breakpoint-up(sm) {
			margin-top: -5rem;
		}
	}
	
	img {
		max-height: 700px;
		object-fit: cover;
		width: 100%;
	}
}