.lightbox {
	display: none;
	position: fixed;
	left: 0;
	top: 3.5rem;
	bottom: 0;
	right: 0;
	z-index: 9999;
	overflow: hiden;

	@include media-breakpoint-up(md) {
		left: 6.25rem;
		top: 0;
	}

	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(100vw - 3.5rem);
		margin-top: 3.5rem;
		padding: 2.5rem;
		opacity: 0;
		transform: translateY(3rem);
		transition: opacity .5s ease-in-out, transform .5s ease-in-out;

		@include media-breakpoint-up(md) {
			margin-top: 0;
			height: 100vh;

			&:after {
				content: '';
				height: 100vh;
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
			  transform: scaleY(0);
				background: rgba(241, 237, 233, 0.23);
				transform-origin: top center;
			  transition: transform 1s ease-in-out;
			}
		}

		@at-root .lightbox-open & {
			opacity: 1;
		  transform: translateY(0);

		  &:after {
		  	transform: scaleY(1);
		  }
		}

		@include media-breakpoint-up(md) {
			width: calc(100vw - 6.25rem);
		}

		.ratio {
			margin: auto;
			max-height: 100%;
		}

		img {
			left: 50%;
			top: 50%;
			max-width: 90%;
			position: absolute;
			margin: auto;
			max-height: calc(100vh - 6.25rem);
			transform: translate(-50%, -50%);
		}
	}

	&-close {
		z-index: 99999;
		position: fixed;
		left: 0;
		top: 0;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		transition: opacity .5s ease-in-out;

		@at-root .lightbox-open & {
			opacity: 1;
		  pointer-events: all;
		}

		&:before {
			background: rgba(241, 237, 233, 0.23);
		}

		@include media-breakpoint-up(sm) {
			width: 6.25rem;
			height: 5rem;
		}

		&-inner {
			position: relative;
			width: 1.875rem;
			height: 1rem;
			display: block;

			span {
				width: 100%;
				height: 1px;
				left: 0;
				top: 50%;
				background: $white;
				position: absolute;
				transition: all .3s cubic-bezier(.7,0,.3,1);

				&:first-of-type {
					transform: translateY(-50%) rotate(135deg);
				}

				&:last-of-type {
					transform: translateY(-50%) rotate(-135deg);
				}
			}
		}

	}
}