.loader {
	left: 50%;
	top: 50px;
  font-size: 3px;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  text-indent: -9999em;
  background-color: transparent !important;
  background-image: none !important;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid $black;
  transform: translate3d(50%, 0, 0);
  animation: loading 1.1s infinite linear;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

