.slider-map-container {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: relative;
	display: inline-block;
	z-index: 4;
	margin-top: 4rem;
	max-width: 100%;
	overflow: hidden;
	transition: width .8s cubic-bezier(.7,0,.3,1), opacity .3s cubic-bezier(.7,0,.3,1), transform .3s cubic-bezier(.7,0,.3,1);


	@include media-breakpoint-up(lg) {
		opacity: 0;
		width: 0;
		padding-left: 0;
		padding-right: 0;
	}

	&.is-inactive {
		.swiper-container {
			cursor: default !important;
		}
		
		.swiper-wrapper,
		.swiper-button {
			pointer-events: none;
			opacity: 0 !important;
		}
	}

	&.is-active {
		opacity: 1;
	  padding-left: 1.25rem;
	  padding-right: 1.25rem;

		@include media-breakpoint-up(lg) {
			width: 18.75rem;
		}
	}

	@include media-breakpoint-up(xl) {
		margin-left: 16.66667%;
	}

	.slider-map {
		margin: 0;
		border: 1px solid $gray2;
	  width: 100%;
		background-color: $white;

		@include media-breakpoint-up(lg) {
			width: 18.75rem;
		  border: 1px solid transparent;
		}

		&-title {
			font-size: 1.25rem;
			margin-bottom: 5px;
		}
	}

	.swiper-slide {
		padding: 2rem 1.5rem;

		&-active {
			opacity: 1;
		}

	  @include media-breakpoint-up(lg) {
	  	min-height: 21.5rem;
	  }

		.paragraph {
			line-height: 1.46;
		}
	}
}

.section-map {
	height: auto;

	@include media-breakpoint-up(lg) {
		height: 45rem;
		max-height: calc(100vh - 5rem);
		min-height: 31rem;
	}

	.map {
		height: 80vh;

		@include media-breakpoint-up(lg) {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			height: 100%;
		}

		&-controls {
			position: absolute;
			right: 1.25rem;
			bottom: 1.25rem;
			z-index: 3;

			> a {
				outline: none;
				height: 2.75rem;
				width: 2.75rem;
				display: flex;
				align-items: center;
				justify-content: center;

				&:focus {
					outline: none;
				}

				img {
					height: 2rem;
				}
			}
		}
	}

	.map-filters {

		& + .swiper-wrapper {
			.swiper-slide {
				min-height: 1px;
				width: 100% !important;
			}
		}

		a {
			pointer-events: none;
		}

		a span {
			position: relative;
			pointer-events: none;
			display: inline-block;

			&:before {
	      content: '';
	      position: absolute;
	      width: 100%;
	      height: 1px;
	      background: currentColor;
	      top: calc(100% + 2px);
	      left: 0;
	      pointer-events: none;
	      opacity: .8;
	      transform-origin: 100% 50%;
	      transform: scale3d(0, 1, 1);
	      transition: transform 0.3s;
			}
		}

		a:hover,
		a.is-active {
			span:before {
		    transform-origin: 0% 50%;
		    transform: scale3d(1, 1, 1);
			}
		}
	}
}