.nav-panel {
	width: 0;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
  z-index: 99;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 11.25rem 0 1rem;
  background: $gray;
  border-right: 1px solid transparent;
  transition: background .3s cubic-bezier(.7,0,.3,1), opacity .3s cubic-bezier(.7,0,.3,1);

  @at-root .has-scroll-init & {
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
		width: 6.25rem;
  }

  &.is-transparent {
    background: transparent;
    color: $white;
    border-color: rgba(255, 255, 255, .2);
  }

  &-vertical {
  	font-size: 1.125rem;
  	//color: $gray;
  	writing-mode: vertical-lr;
  	transform: scale(-1);
  	transition: color .3s cubic-bezier(.7,0,.3,1);
  }

  &-single {
    position: absolute;
    font-size: 1.43rem;
    white-space: nowrap;
    background: $white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      writing-mode: vertical-lr;
      transform: scale(-1);
    }
  }
}