.nav {
	display: none;
	height: 100vh;
	position: fixed;
	top: 3.5rem;
	right: 0;
	z-index: 9999;
	left: 0;
	opacity: 0;
	overflow: hidden;

	@include media-breakpoint-up(sm) {
		top: 5rem;
	}

  @include media-breakpoint-up(lg) {
 		left: 6.25rem;
 		top: 0;

 		.row {
 			overflow-x: hidden;
 		}
 }

	&-main-header {
		position: fixed;
		top: 0;
		left: 6.25rem;
		right: 0;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		.header-contact a {
			border-color: rgba(255, 255, 255, .2);

			&:before {
				background: $blue;
			}
		}

		.logo {
			transition: all 0s ease;

			@include media-breakpoint-up(xl) {
				transform: translateX(-9.625rem);
			}
		}
	}

	&-main-text {
		width: 100%;

		@include media-breakpoint-up(lg) {
			padding-bottom: 6.25rem;
			padding-top: 30vh;
			width: calc(50vw - 9.25rem);
			height: 100%;
		}

		@media screen and (min-width: 1440px) {
			padding-top: 34vh;
		}

		@include media-breakpoint-up(xl) {
			width: calc(50vw - 6.25rem);
			//transform: translateX(-9.625rem);
		}

		ul {
			font-size: 1.5rem;
			counter-reset: item;

			@include media-breakpoint-up(md) {
				font-size: 1.875rem;
			}

			@include media-breakpoint-up(xl) {
				&:not(.sub-menu) {
					width: calc(100% + 2.75rem);
					transform: translateX(-2.57rem);
					padding-bottom: 2.5rem;
				}
			}

			&.sub-menu {
				height: 0;
				padding-left: 2.75rem;
				overflow: hidden;
			}

			li {
				position: relative;
  			counter-increment: item;  
				border-bottom: 1px solid rgba(255, 255, 255, .2);

				span {
					display: inline-block;
				}

				span.whitespace {
					min-width: 9px;
				}

				&.current-menu-item > a:not(.toggle-submenu),
				a:not(.toggle-submenu):hover {
			  	padding-right: 1rem;
			  	padding-left: 2.5rem;

			  	@include media-breakpoint-up(lg) {
			  		padding-left: 3.75rem;
			  	}

			  	&:after {
			  		left: .625rem;
			  	}

			  	&:before {
			  		transform: scaleY(1);
			  	}
				}
			}
			
			a:not(.toggle-submenu) {
		    text-transform: lowercase;
				display: flex;
				align-items: center;
				padding-top: 5px;
				height: 4.6875rem;
				position: relative;
			  padding-left: 1.75rem;
			  transition: padding .3s cubic-bezier(.215,.61,.355,1);

			  @include media-breakpoint-up(lg) {
			  	padding-left: 2.75rem;
			  }

			  &:after {
  				content: counter(item, decimal-leading-zero);
  				position: absolute;
  				top: .625rem;
  				left: 0;
  				font-size: 1.0625rem;
			    transition: left .3s cubic-bezier(.215,.61,.355,1);
			  }

			  &:before {
			    content: '';
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    left: 0;
			    background-color: rgba(255, 255, 255, .2);
			    z-index: -1;
			    transform-origin: center bottom;
			    transform: scaleY(0);
			    transition: transform .3s cubic-bezier(.215,.61,.355,1);
			  }
			}

			.toggle-submenu {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 2;
				height: 4.6875rem;
				width: 2.75rem;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				&.is-active svg {
					transform: rotate(-45deg);
				}

				&:hover {
					svg {
						transform: rotate(-.5turn);
					}
				}

				svg {
					transform-origin: center center;
			    transition: transform .3s cubic-bezier(.215,.61,.355,1);
				}
			}
		}
	}

	&-main-img {
		height: 50vh;
		min-height: 18.75rem;
		width: 0;
		overflow: hidden;
		padding: 0;
	  transition: width .8s cubic-bezier(.7,0,.3,1);

	  @include media-breakpoint-up(sm) {
	  	height: 65vh;
	  }

    @include media-breakpoint-up(lg) {
			height: 100vh;
			margin-left: 1.25rem;
			position: sticky !important;
			top: 0;
    }

    @include media-breakpoint-up(xl) {
			//margin-left: -6.25rem;
    }

    .h1 {
    	position: absolute;
    	z-index: 2;
    	left: 1.25rem;
    	line-height: .8;
    	opacity: 0;
    	transition: opacity .5s ease;
    	transition-delay: .5s;

    	@at-root .nav-open & {
    		opacity: 1;
    	}

    	@include media-breakpoint-up(lg) {
    		bottom: 4.75rem;
    	  left: 3.75rem;
    	}

    	@include media-breakpoint-down(lg) {
    		font-size: 2.75rem;
    		top: 2rem;
    	}

    	.word span {
    		transition-delay: calc(0.2s*var(--word-index))
    	}
    }

		.bg {
			width: 100vw;
			transform: translateX(-2rem) scale(1.1);
	    transition: transform .5s cubic-bezier(.7,0,.3,1);

	    @include media-breakpoint-up(lg) {
				width: 55vw;
	    }
		}
	}

	> .container-fluid {
		overflow: auto;
		position: relative;
		z-index: 4;
	  outline: 2px solid transparent;
    padding: 0;
    padding-top: 3.5rem;
    -webkit-overflow-scrolling: touch;

    @include media-breakpoint-up(lg) {
    	padding: 0;
    	padding-top: 0;
    	padding-left: 2rem;
    }
	}

	[data-splitting] .word span {
		transition: transform .4s cubic-bezier(.39,.575,.565,1);
    transition-delay: calc(0.01s*var(--word-index));
	}

	&-open {
		@include media-breakpoint-down(xs) {
	    overflow: hidden;
		}

		.nav-main-img {
			width: 100vw;
			margin-top: 3rem;

	    @include media-breakpoint-up(lg) {
				width: 50vw;
				margin-top: 0;
	    }

			.bg {
				transform: translateX(0) scale(1);
			}
		}

		// li a:before {
		// 	opacity: 1;
		// 	top: .875rem;

		// 	@include media-breakpoint-up(lg) {
		// 		top: 1.25rem;
		// 	}
		// }

		[data-splitting] {
			.word span {
				transform: translate3d(0, 0, 0) scale(1) rotate(0);
			}
		}
	}
}
