.socials {
	li {
		&:first-of-type {
			a {
				margin-left: 0;
			}
		}

		&:nth-of-type(2) {
			circle {
				transition-delay: .2s;
			}
		}
	}
	
	a {
		margin-left: 1rem;
		position: relative;
		width: 2.625rem;
		height: 2.625rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			transform: translate(-50%, -50%);
		}

		circle {
			stroke-dashoffset: 144;
			stroke-dasharray: 144px;
			transform-origin: 50% 50%;
			transform: rotate(-45deg);
			transition: stroke-dashoffset 1.2s, transform 1.2s;

			@at-root .is-inview & {
				stroke-dashoffset: 0;
			}
		}

		img {
			height: .93rem;
		}
	
		&:hover {
			circle {
				transition-delay: 0;
				stroke-dashoffset: 144px !important;
				transform: rotate(540deg);
			}
		}
	}
}