.section-video {
	padding-left: 0;
	position: relative;

  @include media-breakpoint-up(md) {
		padding-left: 6.25rem;
  }

  &-nocrop {
  	.plyr {
			background: transparent !important;
  	}

		.plyr__video-wrapper {
			background: transparent !important;
			max-height: unset !important;

			video {
				opacity: 1 !important;
			}
		}
		.row {
			position: relative;
			z-index: 2;

  		@include media-breakpoint-up(md) {
  			transform: translateY(-2.5rem);
  		}
		}

		.video-text {
			font-size: 1.125rem;
      line-height: 1.4;
      position: static !important;
      color: $navy !important;

  		@include media-breakpoint-up(md) {
  			max-width: calc(100% - 120px);
  			margin-left: calc(16.66% - 80px) !important;

  			.col-12 {


  				p {
  					max-width: 400px;
  				}
  			}
  		}


  		@include media-breakpoint-up(xl) {
  			max-width: 33.33%;
  		}
		}
  }

  &-has-icon {
  	padding-top: 1rem;

  	@include media-breakpoint-up(sm) {
  		padding-top: 3.875rem;
  	}
  }

  &-icon {
  	position: absolute;
  	top: 0;
  	left: 50%;
  	border-radius: 50%;
  	background: $blue;
  	width: 2rem;
  	height: 2rem;
  	z-index: 2;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	transform: translateX(-50%);

  	@include media-breakpoint-up(sm) {
  		width: 7.75rem;
  		height: 7.75rem;
  	}

  	img, 
  	svg {
  		height: 1rem;

	  	@include media-breakpoint-up(sm) {
	  		height: 3.625rem;
	  	}
  	}
  }

	.ratio {
		pointer-events: none;

		&:before {
			padding-top: 38%;
		}

		video {
			max-height: 5.43rem;
		}

		iframe,
		video {
			object-fit: cover;
			pointer-events: none;
		}
	}

	.plyr__video-wrapper {
		background-color: #1d234a;
		max-height: 29rem;

		video {
			opacity: .49;
		}
	}

	.video-text {
  	&-margin h2 {
  		@include media-breakpoint-up(md) {
  			margin-top: 3.875rem;
  		}
  	}

		@include media-breakpoint-up(sm) {
			left: 0;
			top: 0;
			color: $white;
			right: 0;
			bottom: 0;
			display: flex;
			z-index: 5;
			align-items: center;
			position: absolute;
		}
	}
}


video::-webkit-media-controls,
video::-webkit-media-controls-container,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button, 
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display { 
	position: absolute; 
	display: none; 
	-webkit-appearance: none;
	visibility: hidden !important; 
	opacity: 0; 
}

//.plyr__controls { display: none !important }


:host::shadow::-webkit-media-controls-container{opacity: 0 !important; -webkit-appearance: none;}