[data-splitting] {
	&.is-inview {
		.word span {
			transform: translate3d(0, 0, 0) scale(1) rotate(0);
		}
	}

	.word {
		white-space: nowrap;
		line-height: 1;
		overflow: hidden;
		perspective: 500px;
		padding-bottom: 5px;

		span {
			line-height: 1;
			transform: translate3d(0, 120%, 0) scale(.9) rotate(20deg);
			transition: transform .7s cubic-bezier(.39,.575,.565,1);
			transition-delay: calc( 0.05s * var(--word-index));
		}
	}
}

[data-scroll-opacity] {
	transform: translate3d(0, 3.25rem, 0);
	opacity: 0;
	transition: transform .7s cubic-bezier(.39,.575,.565,1), opacity 1s cubic-bezier(.39,.575,.565,1);

	@include media-breakpoint-up(sm) {
		transform: translate3d(0, 6.25rem, 0);
	}
	
	&.is-inview {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-scroll-img] {
	overflow: hidden;
	position: relative;

	img {
		transform: scale(1.1);
		will-change: transform;
		transition: transform 1s cubic-bezier(.39,.575,.565,1);
	}

	&:before {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		background: $gray;
		left: 0;
		z-index: 1;
		top: 0;
		will-change: transform;
		transform-origin: right center;
		transition: transform .6s cubic-bezier(.215,.61,.355,1);
		transition-delay: .3s;
	}

	&.is-inview {
		&:before {
			transform: scaleX(0);
		}

		img {
			transform: scale(1);
		}
	}
}

.line-decorative {
	height: 1px;
	background: $gray2;
	width: 100%;
	max-width: calc(100% + 1.5rem);
	position: relative;
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 1s ease-in-out;

	&.text-blue {
		background: $blue;
	}

	&.is-active {
		transition-delay: 2s;
		transform: scaleX(1);
	}

	&.is-inview {
		transform: scaleX(1);

		// &:after {
		// 	transform: scaleY(1);
		// }
	}
}