* {
 box-sizing: border-box;
 -ms-content-zooming: none;
 -ms-scroll-chaining: none;
   //-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-appearance: none;
   -moz-appearance: none;
  font-family: 'DaxlinePro';
}
::-moz-selection {
 color: $white;
 background: $blue;
}
::selection {
 color: $white;
 background: $blue;
}

html, body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  color: $navy;
  line-height: 1;
  font-family: 'DaxlinePro';
  letter-spacing: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.has-scroll-init {
  overflow: visible;

  body {
    overflow: visible;
    overflow-x: hidden;
  }
}

html, body {
  overflow-x: hidden;
}


a {
 cursor: pointer;
 font-family: inherit;
 font-size: inherit;
 font-weight: inherit;
 font-style: inherit;
 color: inherit;
 line-height: inherit;
 letter-spacing: inherit;
 text-decoration: none;
 transition: all .5s cubic-bezier(0.4, 0, 0.1, 1);

   &:hover,
   &:focus {
    text-decoration: none;
    color: currentColor;
  }
}

img,
svg {
  max-width: 100%;
  display: block;
  height: auto;

  &.lazyload {
    opacity: 0;
    transition: all .5s cubic-bezier(0.4, 0, 0.1, 1);

    &.loaded {
      opacity: 1;
    }
  }
}

textarea {
 border-radius: 0;
 overflow: hidden;
 resize: none;
}

input {  
  font-size: inherit;
  border-radius: 0;
  color: $black;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

button, input[type="submit"] {
 cursor: pointer;
 border-radius: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

em, i {
  font-style: italic;
}

.error404 {
  background-color: $gray;
}

.container-fluid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;


  @include media-breakpoint-up(md) {
    padding-left: 7.5rem;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 1.25rem;
  }
}

section {
  @include media-breakpoint-down(md) {
    overflow-x: hidden;
  }
}
