.overlay,
.overlay-menu,
.overlay-lightbox {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&-open {
		overflow: hidden;
	}

	> span {
		height: 100vh;
		max-height: fill-available;
		position: absolute;
		width: 100%;
		background: $blue;
		top: 0;
		left: 0;
		//transform: scaleX(0);
	}
}

.overlay {
	z-index: 9999;
}

.nav-open .overlay:not(.overlay-menu) {
	z-index: 99999;
}

.overlay-lightbox {
	display: none;
	z-index: 9999;
}

.overlay-menu {
	display: none;
	opacity: 0;
	z-index: 999;
	//z-index: 30;

	span {
		background: $blue;
	}
}

input[name="custom-exit-url"] {
	position: fixed;
	z-index: -1;
	text-indent: -9999;
	opacity: 0;
	pointer-events: none;
}