.c-scrollbar {
	opacity: 1;
	z-index: 99;

	.c-scrollbar_thumb {
		border-radius: 0;
		opacity: 1;
		background: $blue;
		margin: 0;
	}
}


.nav-main  {
	*::-webkit-scrollbar {
		width: 7px;
	}
	*::-webkit-scrollbar-track {
		background: $white;
	}
	*::-webkit-scrollbar-thumb {
		background-color: $blue;
		border-radius: 0;
	}	
}