.swiper-container {
	opacity: 0;
  transition: opacity .5s ease-in-out .4s;

  &.swiper-container-initialized {
    opacity: 1;
  }
}

.swiper-pagination {
  display: flex;
  cursor: default !important;

  &-bullet {
    height: 4px;
    width: 3.75rem;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 6px 0;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      height: 4px;
      width: 100%;
      background: $gray2;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      height: 4px;
      width: 100%;
      background: $navy;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform .3s cubic-bezier(.215,.61,.355,1);
    } 

    &-active,
    &:hover {
      &:before {
        transform: scaleX(1);
        transform-origin: right center;
      }
    }
  }
}

.swiper-button,
.page-numbers {
  //padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.625rem;
  height: 3.625rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center right;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);

    @at-root .bg-gray & {
      background-color: $white;
    }
  }

  &-disabled {
    opacity: .2;
    pointer-events: none;
  }

  &:not(.current):hover {
    &:before {
      transform: scaleX(1);
    }
  }

  &.current {
    color: $white;

    &:before {
      transform: scaleX(1);
      background: $blue;
    }
  }


  &-prev,
  &.prev {
    margin-left: -10px;
    
    svg {
      transform: scaleX(-1);
    }
  }

  &-next,
  &.next {
    &:before {
      transform-origin: center left;
    }
  }
}