@font-face {
    font-family: 'DaxlinePro';
    src: url('../fonts/DaxlinePro-Light.eot');
    src: local('DaxlinePro-Light'),
        url('../fonts/DaxlinePro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DaxlinePro-Light.woff') format('woff'),
        url('../fonts/DaxlinePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('../fonts/DaxlinePro-Regular.eot');
    src: local('../fonts/DaxlinePro-Regular'),
        url('../fonts/DaxlinePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DaxlinePro-Regular.woff') format('woff'),
        url('../fonts/DaxlinePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='paragraph'],
[class*=' paragraph'] {
  p, ul, ol {
    margin-bottom: 2rem;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  ul {
    list-style-type: none;

    li {
      padding-left: 2.25rem;
      position: relative;
      margin-bottom: 1.875rem;

      &:before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border: 1px solid $navy;;
        left: 0;
        top: 6px;
        border-radius: 50%;
      }
    }
  }

  h2,
  h3 {
    margin-bottom: 2rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 3.125rem;
    }
  }

  p a:not(.btn),
  li a,
  label a {
    display: inline-block;
    position: relative;
    color: $blue;
    transition: 0s ease all;

    &:hover,
    &.active {
      &:before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  img {
    height: auto;
    width: auto;
  }

  blockquote {
    color: $blue;
    max-width: 45rem;
    margin: 4.375rem auto;
    position: relative;

    &:before {
      content: '';
      width: 4px;
      background: $blue;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }

    p {
      color: $blue;
      padding-left: 2.8125rem;
    }
  }
}

.list-unstyled {
  list-style-type: none;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.4;

  &-big {
    font-size: 1.125rem;
    line-height: 1.55;

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }

  &-extra {
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
}

h1,
.h1 {
  font-size: 3rem;

  @include media-breakpoint-up(sm) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 4.375rem;
  }
  
  br {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

[data-splitting] h2 {
  line-height: 1;
}

h2,
.h2 {
  font-size: 1.6rem;
  line-height: 1.28;

  &[data-splitting] {
    line-height: 1;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.875rem;
  }

  &-medium {
    font-size: 1.6rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.5rem
    }

    @include media-breakpoint-up(md) {
      font-size: 3.125rem
    }
  }
}

h3,
.h3 {
  font-size: 1.6rem;
  line-height: 1.28;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }


  &-medium {
    font-size: 2rem;
    line-height: 1.375;
    
    @include media-breakpoint-up(md) {
      font-size: 2.5rem
    }
  }
}


h4, h5 {
}

blockquote {
}

b,
strong,
.fw-bold {
  font-family: 'DaxlinePro';
  font-weight: 400 !important;
}

.text-transform-none {
  text-transform: none;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-blue {
  color: $blue;
}


.text-gray {
  color: $gray;
}

.no-hover {
  &:hover {
    color: currentColor;
  }
}
